$siteWidth: 800px;
$baseUnit: 6px;

$fontFamily: "Open Sans", HelveticaNeue-Light, "Segoe UI", "Helvetica Neue", Helvetica, Raleway, Arial, sans-serif !default;

$button-padding_top: 2px;
$button-padding_bottom: 3px;
$button-padding_side: $baseUnit;
