.breadcrumbs {
  padding: 24px 0 0;
}

.breadcrumb {
  opacity: .6;
  font-size: 12px;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.breadcrumb-separator {
  color: white;
  opacity: .4;
}
