*,
*::before,
*::after
{
  box-sizing: border-box;
}

body {
  //font-family: 'Arsenal', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

a {
  color: white;
}

ul, ol {
  list-style: none;
}

b, strong {
  font-weight: 700;
}
