.vs {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.vs-separator {
  display: block;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  margin: 0 36fpx;
}

.vs-vs {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 700;
}
