@import "../../node_modules/normalize.css/normalize";

$primaryColor     : #476270;
$highlightColor   : #c0512a;
$spacer           : 36px;

@import "scaffolding";
@import "layout";
@import "titles";
@import "grid";
@import "bar";
@import "button";
@import "select";
@import "notFound";
@import "newGame";
@import "players";
@import "profile";
@import "games";
@import "breadcrumbs";
@import "lists";
@import "vs";
@import "playerCard";
@import "gameCard";
@import "match";
